/* header */
.header {
    border: 1px solid #000;
    height: 49px;
    background: #c4e3f3;
    width: 100%;
}

/* ~header */

body {
    background: #f4f2f2;
}

/* content */
.content-nav {
    margin-top: 5px;
}

.padding-sidebar {
    padding-top: 10px;
}

.padding-button {
    margin-bottom: 5px;
}

.table-style {
    margin-top: 20px;
}

.modal-body-pad {
    padding: 5px;
}

.button-area {
    margin-top: 3px;
}

.form-error-text {
    margin-top: 12px;
}

.check-unique-error {
    color: red;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

/* ~content*/



